<header th:include="@{/commons/header.html}"></header>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12">
            <h2>Recent Posts</h2>
		<ul id="ul_top_menu">
            <li id="ul_top_menu"><a th:href="@{/subsq/listProduct}">상품명</a></li>
            <li id="ul_top_menu"><a th:href="@{/subsq/listNew}">신상품</a></li>
            <li id="ul_top_menu"><a th:href="@{/subsq/listPopul}">인기상품</a></li>
         </ul>       
          </div>
        </div>
        <div class="row">
        
          <div class="col-lg-4 mb-4" th:each="Subscription : ${Subscription}">
            <div class="entry2">
              <img th:src="@{/images/img_1.jpg}" alt="Image" class="img-fluid rounded"><!-- 이미지 업로드 한 것 반영 되게 수정 필요 -->
              <div class="excerpt">
              <span class="post-category text-white bg-secondary mb-3" th:text="${Subscription.subsqDiv}"></span>

              <h2><a th:text="${Subscription.subsqTitle}"></a></h2>
              <div class="post-meta align-items-center text-left clearfix">
                <span class="d-inline-block mt-1" th:text="${Subscription.id}"></span>
                <span th:text="${Subscription.subsqDate}">&nbsp;-&nbsp;</span>
              </div>
                <p th:text="${Subscription.subsqContent}"></p>
                <p><a th:href="@{/subsq/detail(subsqNo=${Subscription.subsqNo})}">More detail</a></p>
              </div>
            </div>
          </div>
    
     <div class="row text-center pt-5 border-top">

          <div class="col-md-12">
            <div class="custom-pagination">
				<c:if test="${pagination.prev}">
						<li><a class="active" href="#"
							onClick="fn_prev('${pagination.page}', '${pagination.range}', '${pagination.rangeSize}', '${ param.type }')">이전</a></li>
					</c:if>
					<c:forEach begin="${pagination.startPage}" end="${pagination.endPage}" var="idx">
						<li> <c:out value="${pagination.page == idx ? 'active' : ''}"/>
							<a href="#" onClick="fn_pagination('${idx}', '${pagination.range}', '${pagination.rangeSize}', '${ param.type }')"></a>
						</li>
					</c:forEach>
					<c:if test="${pagination.next}">
						<li>
							<a href="#" onClick="fn_next('${pagination.range}','${pagination.range}', '${pagination.rangeSize}', '${ param.type }')">다음</a>
						</li>
					</c:if>
	            </div>
	          </div>
	        </div>
	      </div>
	   </div>
    
    <div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
            <div class="icon mr-4 align-self-start">
              <span class="icon-truck text-primary"></span>
            </div>
            <div class="text">
              <h2 class="font-heading-serif">Free Shipping</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan
                tincidunt fringilla.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
            <div class="icon mr-4 align-self-start">
              <span class="icon-refresh2 text-primary"></span>
            </div>
            <div class="text">
              <h2 class="font-heading-serif">Free Returns</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan
                tincidunt fringilla.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon mr-4 align-self-start">
              <span class="icon-help text-primary"></span>
            </div>
            <div class="text">
              <h2 class="font-heading-serif">Customer Support</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan
                tincidunt fringilla.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light">
      <div class="container">
        <div class="owl-carousel owl-slide-3 owl-slide">
        
          <blockquote class="testimony">
            <img th:src="@{/images/person_1.jpg}" alt="Image">
            <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero sapiente beatae, nemo quasi quo neque consequatur rem porro reprehenderit, a dignissimos unde ut enim fugiat deleniti quae placeat in cumque?&rdquo;</p>
            <p class="small text-primary">&mdash; Collin Miller</p>
          </blockquote>
          <blockquote class="testimony">
            <img th:src="@{/images/person_2.jpg}" alt="Image">
            <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero sapiente beatae, nemo quasi quo neque consequatur rem porro reprehenderit, a dignissimos unde ut enim fugiat deleniti quae placeat in cumque?&rdquo;</p>
            <p class="small text-primary">&mdash; Harley Perkins</p>
          </blockquote>
          <blockquote class="testimony">
            <img th:src="@{/images/person_3.jpg}" alt="Image">
            <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero sapiente beatae, nemo quasi quo neque consequatur rem porro reprehenderit, a dignissimos unde ut enim fugiat deleniti quae placeat in cumque?&rdquo;</p>
            <p class="small text-primary">&mdash; Levi Morris</p>
          </blockquote>
          <blockquote class="testimony">
            <img th:src="@{/images/person_1.jpg}" alt="Image">
            <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero sapiente beatae, nemo quasi quo neque consequatur rem porro reprehenderit, a dignissimos unde ut enim fugiat deleniti quae placeat in cumque?&rdquo;</p>
            <p class="small text-primary">&mdash; Allie Smith</p>
          </blockquote>
        
        </div>
      </div>
    </div>
    
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
	<script type="text/javascript">              
      $(function(){
                  
         $('#type_form').on('change', function(event){
            
            this.form.submit();
            
         });
      });
 
   
		//이전 버튼 이벤트
		function fn_prev(page, range, rangeSize , type) {

			var page = ((range - 2) * rangeSize) + 1;
			var range = range - 1;
			var url = "${pageContext.request.contextPath}/subsqlist";

			url = url + "?page=" + page;
			url = url + "&range=" + range; 
			url = url + "&type=" + type ;

			location.href = url;

		}

		//페이지 번호 클릭
		function fn_pagination(page, range, rangeSize, type) {

			var url = "${pageContext.request.contextPath}/subsqlist";

			url = url + "?page=" + page;
			url = url + "&range=" + range;
			url = url + "&type=" + type ;

			location.href = url;

		}

		//다음 버튼 이벤트
		function fn_next(page, range, rangeSize, type) {

			var page = parseInt((range * rangeSize)) + 1;

			var range = parseInt(range) + 1;

			var url = "${pageContext.request.contextPath}/subsqlist";

			url = url + "?page=" + page;
			url = url + "&range=" + range;
			url = url + "&type=" + type ;

			location.href = url;
		}
	</script>
  
<footer th:include="@{/commons/footer.html}"></footer> 